.gallery {
    .piece {
        .image {
            cursor: -webkit-zoom-in;
            cursor: -moz-zoom-in;
            cursor: zoom-in;
        }
    }
    .close {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 175px;
        top: 35px;
        background-image: url(../images/close-white.svg);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        display: none;
    }
    &.full {
        width: 100% !important;
        height: 100% !important;
        position: fixed;
        top: 0;
        left: 0; 
        background-color: black;
        z-index: 1000;
        .piece {
            width: 100% !important;
            height: 100% !important;
            margin: 0 !important;
            display: table;
            .inner {
                width: 100%;
                display: table-cell;
                vertical-align: middle;
                .image {
                    width: 50% !important;
                    display: table;
                    margin: 0 auto 20px auto;
                    cursor: -webkit-zoom-out;
                    cursor: -moz-zoom-out;
                    cursor: zoom-out;
                    img {
                        display: table;
                        max-width: 70%;
                        max-height: 70%;
                        margin: auto;
                    }
                }
                .description {
                    width: 50% !important;
                    display: table;
                    margin: auto !important;
                    text-align: center !important;
                    color: $white !important;
                    * {
                        color: $white !important;
                    }
                }
            }
        }
        .close {
            display: block;
        }
    }
}
.shelves {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    &.grid {
        .shelf-item {
            @extend .noselect;
            .name {
                @extend .yesselect;
                a {
                    display: table;
                    margin: 0 auto 10px auto;
                }
            }
            @include width('100% / 3');
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            float: left;
            padding-bottom: 50px;
            margin-bottom: 50px;
            .inner {
                @include width('100% - 20px');
                span {
                    margin-top: 5px;
                    display: block;
                }
                .details {
                    margin-top: 10px;
                    @include xsmall-fs;
                }
            }
            &:nth-child(3n+1) .inner {
                margin: 0 20px 0 0;
            }
            &:nth-child(3n+2) .inner {
                margin: 0 10px;
            }
            &:nth-child(3n+3) .inner {
                margin: 0 0 0 20px;
            }
            @include medium {
                width: 50%;
                &:nth-child(even) .inner {
                    margin: 0 0 0 20px;
                }
                &:nth-child(odd) .inner {
                    margin: 0 20px 0 0;
                }
            }
            @include xsmall {
                width: 100%;
                .inner {
                    width: 100%;
                    margin: 0 !important;
                }
            }
        }
    }
    &.list {
        .shelf-item {
            width: 100%;
            text-align: left;
            padding: 20px 0;
            .inner {
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                .image {display: none;}
                .value {
                    float:left;
                    text-align: left;
                    @include small-fs;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -webkit-align-items: center;
                    -ms-flex-align: center;
                    align-items: center;
                    span, a {
                        display: table-cell;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}

.filter {
    width: 100%;
    @extend .noselect;
    .select {
        font-size: $small-fs;
        line-height: $small-fs;
        display: table;
        color: $orange;
        padding: 0 25px 0 0;
        margin: 0 20px 5px 0;
        background-size: 20px 40px;
        background-position: right top;
        background-repeat: no-repeat;
        cursor: pointer;
        &.view.toggle {
            span.grid{display: none;}
            background-image: url(../images/view-toggle-orange.svg);
            &:hover {
                background-image: url(../images/view-toggle-black.svg);
            }
            &.grid {
                span.grid{display: block;}
                span.list{display: none;}
                background-position: right bottom;
            }
        }
        &.dropdown {
            background-image: url(../images/dropdown-orange.svg);
            &.dropped {
                background-position: right bottom;
            }
            &:hover {
                background-image: url(../images/dropdown-black.svg);
            }
        }
    }
    .bar {
        width: 100%;
        display: table;
        margin-bottom: 20px;
        .select {
            float: left;
        }
    }
}
.filter-lists {
    width: 100%;
    display: block;
    .filter-list {
        height: 0px;
        display: block;
        overflow: hidden;
        @include xsmall-fs;
        transition: height 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
        .options {
            display: table;
        }
        .option {
            width: 200px;
            margin: 0 0 10px 0;
            float: left;
            &.selected a {
                color: $black;
                padding-right: 25px;
                background-image: url(../images/close-thin-black.svg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: right center; 
                &:hover {
                    color: $orange !important;
                    background-image: url(../images/close-thin-orange.svg);
                }
            }
        }
    }
}