.shelves {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    &.grid {
        .shelf-item {
            @extend .noselect;
            .name {
                @extend .yesselect;
                a {
                    display: table;
                    margin: 0 auto 10px auto;
                }
            }
            @include width('100% / 3');
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            float: left;
            padding-bottom: 50px;
            margin-bottom: 50px;
            .inner {
                @include width('100% - 20px');
                span {
                    margin-top: 5px;
                    display: block;
                }
                .details {
                    margin-top: 15px;
                    @include xsmall-fs;
                }
            }
            &:nth-child(3n+1) .inner {
                margin: 0 20px 0 0;
            }
            &:nth-child(3n+2) .inner {
                margin: 0 10px;
            }
            &:nth-child(3n+3) .inner {
                margin: 0 0 0 20px;
            }
            @include medium {
                width: 50%;
                &:nth-child(even) .inner {
                    margin: 0 0 0 20px;
                }
                &:nth-child(odd) .inner {
                    margin: 0 20px 0 0;
                }
            }
            @include xsmall {
                width: 100%;
                .inner {
                    width: 100%;
                    margin: 0 !important;
                }
            }
        }
    }
    &.list {
        .shelf-item {
            width: 100%;
            text-align: left;
            padding: 20px 0;
            .inner {
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                .image {display: none;}
                .value {
                    float:left;
                    text-align: left;
                    @include small-fs;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -webkit-align-items: center;
                    -ms-flex-align: center;
                    align-items: center;
                    span, a {
                        display: table-cell;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}




.filter {
    width: 100%;
    display: table;
    margin: 25px 0;
    @extend .noselect;
    .select {
        @include small-fs;
        display: table;
        color: $orange;
        padding-right: 25px;
        margin-right: 20px;
        background-size: 20px 40px;
        background-position: right top;
        background-repeat: no-repeat;
        cursor: pointer;
        &.view.toggle {
            span.grid{display: none;}
            background-image: url(../images/view-toggle-orange.svg);
            &:hover {
                background-image: url(../images/view-toggle-black.svg);
            }
            &.grid {
                span.grid{display: block;}
                span.list{display: none;}
                background-position: right bottom;
            }
        }
        &.dropdown {
            background-image: url(../images/dropdown-orange.svg);
            &.dropped {
                background-position: right bottom;
            }
            &:hover {
                background-image: url(../images/dropdown-black.svg);
            }
        }
    }
    .bar {
        width: 100%;
        display: table;
        .select {
            float: left;
        }
    }
    .sub {
        display: none;
        margin-top: 20px;
        @include xsmall-fs;
        &.show {
            display: block;
        }
        .option {
            width: 200px;
            margin: 0 0 10px 0;
            float: left;
        }
    }
}