.vertical-align {
	display: table-cell;
	vertical-align: middle;
}
.horizontal-align {
	display: table;
	margin: auto;
}
.text-align {
	width: 100%;
	text-align: center;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.yesselect {
    -webkit-touch-callout: auto !important;
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
}
.bullet {
    margin: 3px 0;
    background-image: url(../images/bullet-black.svg);
    background-position: left 5px;
    background-repeat: no-repeat;
    background-size: 15px;
    text-indent: 20px;
    display: inline-block;
    &.link {
        background-image: url(../images/bullet-orange.svg);
        &:hover {
            background-image: url(../images/bullet-black.svg);
        }
    }
    &.small {
        @include small-fs;
        background-position: left 3px;
        background-size: 12px;
        text-indent: 15px;
    }
    @include medium {
        background-position: left 3px;
        background-size: 12px;
        text-indent: 15px;
    }
}
a.bullet {
    background-image: url(../images/bullet-orange.svg);
    &:hover {
        background-image: url(../images/bullet-black.svg);
    }
}
.clear {
    width: 100%;
    float: none;
    clear: both;
}
.wrap-parent {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.wrap-child {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.vert {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}
.static {
    transition-duration: 0ms !important;
}
.italic  {
    font-family: 'Life Italic';
}