@mixin width($calc) {
	width: -webkit-calc(#{$calc});
	width: -moz-calc(#{$calc});
	width: -ms-calc(#{$calc});
	width: calc(#{$calc});
}
@mixin height($calc) {
	height: -webkit-calc(#{$calc});
	height: -moz-calc(#{$calc});
	height: -ms-calc(#{$calc});
	height: calc(#{$calc});
}

$mobile-width: 480px;
$tablet-width: 768px;
$laptop-width: 1024px;
$desktop-width: 1824px;
$large-desktop-width: 2560px;

@mixin large-desktop {
  @media (min-width: #{$large-desktop-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) and (max-width: #{$large-desktop-width - 1px}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$laptop-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$laptop-width - 1px}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

@mixin retina {
  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}