@mixin width($calc) {
	width: -webkit-calc(#{$calc});
	width: -moz-calc(#{$calc});
	width: -ms-calc(#{$calc});
	width: calc(#{$calc});
}
@mixin height($calc) {
	height: -webkit-calc(#{$calc});
	height: -moz-calc(#{$calc});
	height: -ms-calc(#{$calc});
	height: calc(#{$calc});
}

$xsmall-width: 500px;
$small-width: 768px;
$medium-width: 900px;
$xmedium-width: 1040px;
$large-width: 1280px;
$xlarge-width: 1600px;
// $xxlarge-width: 2560px;
//
// @mixin xxlarge {
//   @media (max-width: #{$xxlarge-width}) {
//     @content;
//   }
// }

@mixin xlarge {
	@media (min-width: 1601px) {
    @content;
  }
}

@mixin large {
	@media (max-width: #{$xlarge-width}) {
    @content;
  }
}

// @mixin xmedium {
// 	@media (min-width: 1041px) and (max-width: #{$large-width}) {
//     @content;
//   }
// }

@mixin medium {
	@media (max-width: #{$medium-width}) {
    @content;
  }
}

@mixin small {
	@media (max-width: #{$small-width}) {
    @content;
  }
}

@mixin xsmall {
  @media (max-width: #{$xsmall-width}) {
    @content;
  }
}

@mixin retina {
  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}

// @mixin xsmall-fs {
//   font-size: $xsmall-fs;
//   line-height: $xsmall-lh;
//   @include medium {
//     font-size: $xxsmall-fs;
//     line-height: $xxsmall-lh;
//   }
// }

@mixin small-fs {
  font-size: $small-fs;
  line-height: $small-lh;
  @include medium {
    font-size: $xsmall-fs;
    line-height: $xsmall-lh;
  }
}

@mixin medium-fs {
  font-size: $medium-fs;
  line-height: $medium-lh;
  @include medium {
    font-size: $small-fs;
    line-height: $small-lh;
  }
}

@mixin large-fs {
  font-size: $large-fs;
  line-height: $large-lh;
  @include medium {
    font-size: $medium-fs;
    line-height: $medium-lh;
  }
}

// @mixin xlarge-fs {
//   font-size: $xlarge-fs;
//   line-height: $xlarge-lh;
//   @include medium {
//     font-size: $large-fs;
//     line-height: $large-lh;
//   }
// }

// @mixin xxlarge-fs {
//   font-size: $xxlarge-fs;
//   line-height: $xxlarge-lh;
//   @include medium {
//     font-size: $xlarge-fs;
//     line-height: $xlarge-lh;
//   }
// }

@mixin placeholder {
  &::-webkit-input-placeholder {
     @content;
  }
  &:-moz-placeholder {
     @content;
  }
  &::-moz-placeholder {
     @content;
  }
  &:-ms-input-placeholder {
     @content;
  }
}
