$white: #fff;
$black: #000;
$orange: #ff5000;

$side_width: 120px;

$small-fs: 20px;
$small-lh: 21px;
$medium-fs: 25px;
$medium-lh: 30px;
$large-fs: 30px;
$large-lh: 35px;
$xlarge-fs: 40px;
$xlarge-lh: 50px;
