$white: #fff;
$black: #1a1919;
$orange: #ff5000;

$side_width: 120px;

$xxsmall-fs: 15px;
$xxsmall-lh: 17px;

$xsmall-fs: 17px;
$xsmall-lh: 19px;

$small-fs: 20px;
$small-lh: 23px;

$medium-fs: 25px;
$medium-lh: 30px;

$large-fs: 30px;
$large-lh: 35px;

$xlarge-fs: 45px;
$xlarge-lh: 55px;

$xxlarge-fs: 55px;
$xxlarge-lh: 65px;