$white: #fff;
// $black: #1a1919;
$black: #13172F;
$orange: #ff5000;
$light: #facab4;

$side_width: 120px;

// $xxsmall-fs: 15px;
// $xxsmall-lh: 17px;

$xsmall-fs: 16px;
$xsmall-lh: 20px;

$small-fs: 18px;
$small-lh: 21px;

$medium-fs: 24px;
$medium-lh: 28px;

$subtitle-fs: 32px;
$subtitle-lh: 36px;

$large-fs: 42px;
$large-lh: 44px;

// $xlarge-fs: 45px;
// $xlarge-lh: 55px;

// $xxlarge-fs: 55px;
// $xxlarge-lh: 65px;
