footer {
	width: 100%;
	position: relative;
	margin-top: 30px;
	background: $orange;
	color: $white;
	a {
		color: $white;
	}
	.inner {
		display: table;
		width: -ms-calc(100% - 80px - 240px);
	    width: calc(100% - 80px - 240px);
	    height: -ms-calc(100% - 260px);
	    height: calc(100% - 260px);
	    margin-left: 130px;
	    overflow-y: scroll;
		padding: 30px 30px 50px 30px;
	    nav {
	    	display: -webkit-flex;
	    	display: -ms-flexbox;
		    display: flex;
		    -webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		    flex-wrap: wrap;
			.cell {
				width: 20%;
				margin-top: 50px;
				display: -webkit-flex;
			    display: -ms-flexbox;
			    display: -webkit-box;
			    display: flex;
				float: left;
				h3.title {
					padding: 0 0 10px 0;
					text-align: left;
					text-transform: uppercase;
					@include large-fs;
				}
				.sub-menu {
					.child-item {
						@include small-fs;
						margin: 2px 0;
					}
				}
				&:nth-child(6) {
					clear: both;
				}
				input[type="text"] {
					padding-left: 10px;
					outline: none;
					border: solid $white;
					border-width: 0 0 0 2px;
					background-color: transparent;
					color: $white;
					@include small-fs;
					@include placeholder {
						color: $white;
					}
				}
			}
		}
	}
}