aside {
	width: $side_width;
	position: absolute;
	transition: border-color 150ms ease-in-out;
	.logo {
		width: $side_width - 10;
		height: $side_width - 20;
		position: absolute;
		transition: border-color 150ms ease-in-out;
		border-bottom: 10px solid;
		.icon {
		    background-size: 60px;
		    background-position: center;
		    background-repeat: no-repeat;
		}
	    &:hover {
			border-color: inherit !important;
		}
	}
	&.main {
		top: 0;	
		height: 100%;
		border-color: $orange;
		background: $white;
		&.hover {
			border-color: $black;
			.logo {
				border-color: $black;
				.icon.default {
					opacity: 0 !important;
				}
				.icon.hover {
					opacity: 1 !important;
				}
			}
		}
		.logo {
			top: 0;
			.icon {
				&.default {
					background-image: url(../images/logo-orange.svg);
				}
				&.hover {
					background-image: url(../images/logo-black.svg);
				}
			}
			
		}
	}
	&.footer {
		top: 30px;
		@include height('100% - 30px');
		border-color: $white;
		&.hover {
			border-color: $black;
		}
		.logo {
			bottom: 0;
			border-bottom: none;
			border-top: 10px solid $white;
			.icon {
				&.default {
					background-image: url(../images/logo-white.svg);
				}
				&.hover {
					background-image: url(../images/logo-black.svg);
				}
			}
		}
	}
	&.left {
		left: 0;
		border-right-width: 10px;
		border-right-style: solid;
		.logo {
			left: 0;
		}
	}
	&.right {
		right: 0;
		border-left-width: 10px;
		border-left-style: solid;
		.logo {
			right: 0;
		}
	}
	@include xsmall {
		display: none !important;
	}
	.slide {
		width: auto;
		height: 120px;
		position: absolute;
	    display: table;
		transform-origin: left top 0;
		@include large-fs;
		text-align: center;
	}
	&.left .slide {
		bottom: -120px;
    	left: 0px;
		transform: rotate(-90deg); 
	}
	&.right .slide {
		top: 110px;
	    left: 120px;
		transform: rotate(90deg); 
	}
}