.gallery {
    .cursor {
        width: 50px;
        height: 50px;
        position: absolute;
        margin-left: -25px;
        margin-top: -25px;
        background-image: url(../images/gallery-cursor-white.svg);
        background-size: 50px;
        background-repeat: no-repeat;
        display: none;
        z-index: 10000;
        &[data-icon="center"] {
            background-position: top center;
        }
        &[data-icon="left"] {
            background-position: center;
        }
        &[data-icon="right"] {
            background-position: bottom center;
        }
    }
    .slide {
        .image {
            cursor: -webkit-zoom-in;
            cursor: -moz-zoom-in;
            cursor: zoom-in;
        }
    }
}
.image_slider {
	overflow: hidden;
	display: block;
	position: relative;
	.arrow {
		width: 50px;
		height: 50px;
		position: absolute;
		top: calc(50% - 25px);
		z-index: 20;
		cursor: pointer;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		&.left {
			left: 20px;
			background-image: url(../images/arrow-left-orange.svg);
		}
		&.right {
			right: 20px;
			background-image: url(../images/arrow-right-orange.svg);
		}
	}
	.slides {
		height: 100%;
		display: block;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		transition: left 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
		@extend .noselect;
		.slide {
			width: 100%;
			height: 100%;
			display: table;
			position: relative;
			float: left;
			.image {
				width: auto;
				width: 100%;
				display: block;
				img {
					width: auto;
					height: auto;
					max-width: 100%;
					max-height: 500px;
					display: table;
					margin: auto;
					cursor: pointer;
				}
			}
			.caption {
				width: 100%;
				@include small-fs;
				text-align: center;
				padding-top: 10px;
			}
		}
	}
	&.full {
        width: 100% !important;
        height: 100% !important;
        position: fixed;
        top: 0;
        left: 0; 
        background-color: black;
        z-index: 1000;
        cursor: none !important;
        .arrow {
        	display: none;
        }
        .piece {
            // width: 100% !important;
            height: 100% !important;
            margin: 0 !important;
            display: table;
            .inner {
                width: 100%;
                display: table-cell;
                vertical-align: middle;
                .image {
                    display: table !important;
                    margin: 0 auto 0 auto;
                    img {
                        width: auto !important;
                        max-width: 90% !important;
                        height: auto !important;
                        max-height: 90% !important;
                        display: table;
                        margin: auto;
                        cursor: none !important;
                    }
                }
                .caption {
                    width: 50% !important;
                    display: table;
                    margin: auto !important;
                    text-align: center !important;
                    color: $white !important;
                    * {
                        color: $white !important;
                    }
                }
            }
        }
    }
    &:not(.full) {
        .cursor {
            display: none !important;
        }
    }
	&.bg {
        .cursor {
            background-image: url(../images/gallery-cursor-orange.svg);
        }
		.slide {
			display: block;
			.image {
				height: 100%;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}
}