section#about {
	.half {
		width: calc(50% - 15px);
		float: left;
		&.left {
			margin-right: 15px;
		}
		&.right {
			margin-left: 15px;
		}
		@include large {
			width: 100%;
			float: none;
			margin: 0 !important;
		}
	}
	h4 {
		width: 100%;
		padding: 0 0 20px 0;
		text-align: center;
		@include small-fs;
	}
	.info {
		width: 100%;
		@include medium-fs;
		display: flex;
		.bullet {
			display: table;
		}
	}
	.main {
		.description {
			@include medium-fs;
		}
		.social {
			h3 {
				width: 100%;
				text-align: center;
			}
		}
		.history {
			.text {
				@include medium-fs;
				display: block;
				column-count: 2;
				column-gap: 2em;
				@include medium {
					column-count: 1;
				}
			}
		}
		.list {
			width: 50%;
			float: left;
			@include medium-fs;
			&.staff {
				li {
					margin-bottom: 15px;
					em {
						display: block;
					}
				}
			}
			@include small {
				width: calc(50% - 5px);
				float: left;
				&.board {
					margin-right: 5px;
					ul {
						padding-left: 20px;
					}
				}
				&.staff {
					margin-left: 5px;
				}
			}
		}
	}
}
