section#about {
	.half {
		width: calc(50% - 20px);
		float: left;
		&.left {
			padding-right: 15px;
		}
		&.right {
			padding-left: 15px;
		}
		@include small {
			width: 100%;
			float: none;
			margin: 0;
			&.right {
				margin: 10px 0 0 0;
			}
		}
	}
	.info {
		display: flex;
		padding: 10px 20px;
		@include medium-fs;
		.bullet {
			display: table;
		}
		.half {
			p {
				margin-top: 0;
			}
			padding-bottom: 1em;
			&.left {
				border-right: 5px solid $orange;
				@include medium {
					border-right: none;
				}
			}
			&.right {
				padding-left: 20px;
				border-left: 5px solid $orange;
				@include medium {
					border-left: none;
				}
			}
		}
		h3.title {
			text-align: left;
			margin-bottom: 0;
			padding-bottom: 1em;
			margin-top: .25em;
		}
	}
	.main {
		.description {
			@include medium-fs;
		}
		.social {
			h3 {
				width: 100%;
				text-align: center;
			}
		}
		.history {
			.text {
				display: block;
				column-count: 2;
				column-gap: 2em;
				p {
					display: inline-block;
				}
				@include medium-fs;
				@include medium {
					column-count: 1;
				}
			}
		}
		.list {
			h3.title {
				@include subtitle-fs;
				text-align: left;
				padding-left: 1.7rem;
				padding-bottom: 0;
			}
			&.staff {
				ul { 
					columns: 2;
					@include medium {
						columns: 1;
					}
				}
				li {
					margin-bottom: 21px;
					break-inside: avoid-column;
					em {
						display: block;
					}
				}
			}
			@include small-fs;
		}
	}
}
