section#about {
	.half {
		width: calc(50% - 15px);
		float: left;
		&.left {
			margin-right: 15px;
		}
		&.right {
			margin-left: 15px;
		}
		@include small {
			width: 100%;
			float: none;
			margin: 0;
			&.right {
				margin: 10px 0 0 0;
			}
		}
	}
	.info {
		@include medium-fs;
		.bullet {
			display: table;
		}
	}
	.main {
		.description {
			@include medium-fs;
		}
		.social {
			h3 {
				width: 100%;
				text-align: center;
			}
		}
		.history {
			.text {
				display: block;
				column-count: 2;
				column-gap: 2em;
				p {
					display: inline-block;
				}
				@include medium-fs;
				@include medium {
					column-count: 1;
				}
			}
		}
		.list {
			&.staff {
				li {
					margin-bottom: 15px;
					em {
						display: block;
					}
				}
			}
			@include medium-fs;
		}
	}
}
