section.apply {
	.program-links {
		margin-top: 30px;
	}
	.program {
		.links {
			display: none;
			width: 33.333%;
			float: left;
			.bullet {
				display: inline;
			}
			@include small {

			}
		}
		.info {
			h3.title {
				margin-top: 30px;
			}
			.applications {
				width: 100%;
				.application.row {
					width: 100%;
					display: table;
					padding: 0 0 20px 0;
					@include small-fs;
					color: $orange;
					.cell {
						float: left;
						&.date {
							width: 25%;
							@include small {
								width: 50%;
							}
						}
						&.country {
							width: 25%;
							@include small {
								width: 50%;
							}
						}
						&.brief {
							width: 50%;
							@include small {
								margin-top: 10px;
								width: 100%;
							}
							.sponsor {
								a {

								}
							}
						}
					}
				}
			}
		}
		.filter {
			span {
				@include small-fs;
				float: left;
			}
		}
	}
}