section.apply {
	.program-links {
		margin-top: 30px;
	}
	.program {
		.links {
			width: calc(25% - 35px);
			padding: 0 20px 0 15px;
			float: left;
			a {
				display: block;
			}
		}
		.info {
			width: calc(75% - 35px);
			padding: 0 15px 30px 20px;
			float: left;
			h3.title {
				margin-top: 30px;
			}
		}
		@include small {
			.links, .info {
				width: calc(100% - 40px);
				padding: 0 20px;
				float: none;
			}
			.links {
				margin-top: 20px;
			}
		}
		&#international {
			border: 0 !important;
		}
	}
	.applications {
		.rows {
			.application.row {
				width: 100%;
				display: table;
				padding: 0 0 20px 0;
				@include small-fs;
				color: $orange;
				.cell {
					float: left;
					width: 25%;
				}
				.brief {
					color: $black;
					padding-top: 10px;
					float: none;
					clear: both;
					width: 100%;
				}
			}
		}
	}
	.filter {
		width: 100%;
		padding: 0;
		margin: 20px 0 0 0;
		span {
			@include small-fs;
			float: left;
		}
	}
}