section.apply {
	.program-links {
		margin-top: 30px;
	}
	.program {
		.links {
			width: calc(25% - 35px);
			padding: 0 20px 0 15px;
			float: left;
			a {
				display: block;
			}
		}
		.info {
			width: calc(75% - 35px);
			padding: 0 15px 30px 20px;
			float: left;
			h3.title {
				margin-top: 30px;
			}
			.applications {
				width: 100%;
				.application.row {
					width: 100%;
					display: table;
					padding: 0 0 20px 0;
					@include small-fs;
					color: $orange;
					.cell {
						float: left;
						&.date {
							width: 25%;
							@include small {
								width: 50%;
							}
						}
						&.country {
							width: 25%;
							@include small {
								width: 50%;
							}
						}
						&.brief {
							width: 50%;
							@include small {
								margin-top: 10px;
								width: 100%;
							}
							.sponsor {
								a {

								}
							}
						}
					}
				}
			}
		}
		@include small {
			.links, .info {
				width: calc(100% - 40px);
				padding: 0 20px;
				float: none;
			}
			.links {
				margin-top: 20px;
			}
		}
		.filter {
			width: 100%;
			padding: 0;
			margin: 20px 0 0 0;
			span {
				@include small-fs;
				float: left;
			}
		}
	}
}