section.sponsor,
section.past,
section.past-residents,
section.events .past.wrapper,
section.error {
	* {
		border-color: $black !important;
	}
	a, .link {
		color: $black;
	}
	a:hover, .link:hover, a div:hover {
		color: $orange !important;
	}
	nav,
	header.main nav a.overlay {
		background-color: $white !important;
		* {
			color: $black;
		}
	}
	aside.main {
		border-color: $black !important;
	 	.icon.default {
			background-image: url(../images/logo-black.svg) !important;
		}
		.icon.hover {
			background-image: url(../images/logo-orange.svg) !important;
		}
		&.hover .logo {
			border-color: $orange !important;
		}
		&.hover {
			.move {
				color: $orange !important;
			}
		}
	}
	.logo.mobile {
		.icon.default {
			background-image: url(../images/logo-black.svg) !important;
		}
		.icon.hover {
			background-image: url(../images/logo-orange.svg) !important;
		}
	}
	.nav-toggle {
		.icon.default {
			background-image: url(../images/burger-black.svg) !important;
		}
		.icon.hover {
			background-image: url(../images/burger-orange.svg) !important;
		}
	}
	header.main nav {
		.cell .sub-menu .child-item {
			background-image: url(../images/bullet-black.svg) !important;
			&:hover {
				background-image: url(../images/bullet-orange.svg) !important;
			}
		}
		.cell.search input.s {
			color: $black !important;
		}
		.cell.greenroom {
			h1:hover .iconWrap {
				color: $orange;
			}
			.swap .icon.default {
				background-image: url(../images/lock-black.svg);
			}
			.swap .icon.hover {
				background-image: url(../images/lock-orange.svg);
			}
		}
	}
	&.tease-nav header.main {
		border-color: $orange !important;
	}
	.filter {
		.bar {
			.select.dropdown {
				.icon {
			        &.default {
			            background-image: url(../images/dropdown-black.svg);
			        }
			        &.hover {
			            background-image: url(../images/dropdown-orange.svg);
			        }
			    }
			}
			.select.view.toggle {
				.icon {
			        &.default {
			            background-image: url(../images/view-toggle-black.svg);
			        }
			        &.hover {
			            background-image: url(../images/view-toggle-orange.svg);
			        }
			    }
		    }
			.link.map {
				.icon.hover {
					background-image: url(../images/bullet-orange.svg) !important;
				}
			}
		}
	}
	.filter-lists .loading {
		color: $black;
	}
	.filter-list {
		.options .option a .swap .icon {
			&.default {
                background-image: url(../images/close-black.svg);
            }
            &.hover {
                background-image: url(../images/close-orange.svg);
            }
		}
	}
	.residents .resident .image {
		background-color: white;
	}
	&.hover-right {
		.content {
			border-right-color: $orange !important;
		}
	}
	&.hover-left {
		.content {
			border-left-color: $orange !important;
		}
	}
	.bullet.link, a.bullet {
		background-image: url(../images/bullet-black.svg) !important;
		&:hover {
			background-image: url(../images/bullet-orange.svg) !important;
		}
	}
	h1, h2, h3 {
		color: $black !important;
	}
	footer {
		background-color: $black !important;
		* {
			background-color: $black !important;
			color: $white !important;
			border-color: $white !important;
		}
		a:hover {
			color: $orange;
		}
		aside.footer {
			border-color: $white !important;
		 	.icon {
				&.default {
					background-image: url(../images/logo-white.svg);
				}
				&.hover {
					background-image: url(../images/logo-orange.svg);
				}
			}
		}
		.greenroom .login .swap .icon.hover {
			background-image: url(../images/lock-orange.svg) !important;
		}
	}
	.wrap:hover {
		color: $orange !important;
		.link {
			color: $orange !important;
		}
	}
	.shelves {
		color: $black;
		.shelf-item.hover {
            color: $orange;
            a, .link {
                color: $orange;
            }
        }
        .shelf-item.nolink:hover .inner {
            .link, a {
                color: $black !important;
            }
        }
        .shelf-item.nolink .inner {
            .link:hover, a:hover {
                color: $black !important;
            }
        }
	}
	.image_slider.full {
		background-color: $black;
		color: $white;
	}
	::selection {
		background-color: $black;
		color: $white;
	}
	.module, .module h4 {
		color: $black !important;
	}
	.loader div {
		background: $black;
	}
	.share.link, .share.link:hover {
		color: $black !important;
	}
}
a.black, .link.black, .past .link {
	&:hover {
		color: $orange !important;
		&.wrap * {
			color: $orange !important;
		}
	}
}
