section.single.event {
	header.sub {
		width: 100%;
		display: table;
		color: $orange;
	    display: flex;
	    text-transform: capitalize;
		.left, .center, .right {
			float: left;
		    flex-wrap: wrap;
		}
		.left {
			width: 20%;
			text-align: left;
		}
		.center {
			width: 60%;
			text-align: center;
		}
		.right {
			width: 20%;
			text-align: right;
		}
	}
	h1.title {
		width: 100%;
		margin: 50px 0;
		color: $orange;
		@include large-fs;
		text-align: center;
	}
	.info {
		width: calc(66.666% - 35px);
		padding: 0 15px 30px 20px;
		float: left;
		.description {
			word-wrap: break-word;
			@include medium-fs;
			a  {
				text-decoration: underline;
			}
			div, p, span {
				font-size: inherit !important;
				font-family: inherit !important;
				line-height: inherit !important;
			}
			iframe {
				max-width: 100%;
	    		display: table;
	    		margin: auto;
	    	}
		}
		.contributors, .credits {
			margin-top: 30px;
		}
		.bullets {
			margin-top: 30px;
			a {
				display: table;
			}
		}
		.events {
			h3.title {
				color: $orange;
				margin: 40px 0;
			}
			a.event {
				@include medium-fs;
				display: table;
				margin-bottom: 40px;
				div {
					margin-bottom: 5px;
				}
			}
		}
	}
	.gallery .caption {
		@include small-fs;
	}
	.gallery.stack:not(.image_slider) {
		width: calc(33.333% - 35px);
		padding: 0 20px 0 15px;
		float: left;
		.images {
			.piece {
				margin-bottom: 20px;
				.image {
					width: 100%;				
					img {
						width: 100%;
						height: auto;
					}
				}
				.description {
					text-align: left;
					margin: 5px 0 0 0;
					@include small-fs;
					color: $orange;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	&.one_col {
		.gallery, .info {
			width: 100%;
		}
	}
	@include large {
		.info, .gallery.stack:not(.image_slider) {
			width: calc(50% - 35px);
		}
		&.cols_1 {
			.info {
				width: 100%;
			}
		}
		&.one_col {
			.gallery, .info {
				width: 100% !important;
			}
		}
	}
	@include medium {
		.info, .gallery.stack:not(.image_slider) {
			width: calc(100% - 40px);
			padding: 0 20px;
		}
		.gallery.stack:not(.image_slider) {
			border-top: 10px solid $orange;
			margin-top: 60px;
			padding: 60px 20px !important;
			.images {
				width: 100%;
				margin: 0;
			}
		}
	}
	.module {
		&.residents {
			@extend .border-top;
			margin-top: 30px;
			margin-bottom: 0 !important;
			border-bottom: 0 !important;
			.resident {
				margin-bottom: 10px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		.shelves {
			.shelf-item {
				border: 0 !important;
				padding-bottom: 0 !important;
			}
		}
	}
	.bottom-modules {
		display: table;
		width: 100%;
		@extend .border-top;
		margin-bottom: 30px;
	}
	&.one_col {
		
	}
	&.two_col {
		
	}
	&.cols_1 {
		.gallery {
			display: none;
		}
	}
}