.home {
	h2.head {
		font-size: $large-fs;
		line-height: $large-lh;
		color: $orange;
		margin-bottom: 12px;
		padding-top: 0;
		margin-top: 0;
		strong {
			@extend .din;
		}
		@include small {
			margin-bottom: 0px;
		}
	}
	h3.title {
		color: $orange;
		@include medium-fs;
	}
	.introduction-text {
		padding-top: 20px;
		@include subtitle-fs;
		text-align: center;
		strong {
			@extend .din;
		}
		p {
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	@include medium {
		h3.title {
			font-size: $small-fs;
			line-height: $small-lh;
		}
	}
	// .events.upcoming {
	// 	display: table;
	// 	padding-top: 0px !important;
	// 	.eventsWrap {
	// 		width: 100%;
	// 		display: table;
	// 		margin: auto;
	// 	}
	// 	.shelf-item.event {
	// 		width: calc(100% / 3) !important;
	// 		float: left;
	// 		margin: 0 !important;
	// 		padding: 0;
	// 		border: 0;
	// 		.inner {
	// 			h2.title {
	// 				padding: 3px 0;
	// 			}
	// 			h3 {
	// 				text-align: center;
	// 			}
	// 			.thumb {
	// 				margin-top: 10px;
	// 				width: 100%;
	// 				img {
	// 					width: 100%;
	// 				}
	// 			}
	// 			a {
	// 				display: table;
	// 			}
	// 		}
	// 		&:nth-child(2) {
	// 			margin: 0 30px;
	// 		}
	// 		@include xsmall {
  //               .inner {
  //                   margin: auto !important;
  //               }
  //           }
	// 	}
	// 	@include small {
  //           .shelf-item .inner {
  //           	width: 100% !important;
  //           }
  //       }
	// 	&.cols_1 {
	// 		.eventsWrap {
	// 			max-width: 600px;
	// 		}
	// 		.shelf-item.event {
	// 			width: 100% !important;
	// 			.inner {
	// 				width: 100% !important;
	// 				margin: auto;
	// 			}
	// 		}
	// 	}
	// 	&.cols_2 {
	// 		.eventsWrap {
	// 			max-width: 1200px;
	// 		}
	// 		.shelf-item.event {
	// 			width: 50% !important;
	// 			.inner {
	// 				width: calc(100% - 15px) !important;
	// 			}
	// 			&:nth-child(1) .inner {
	// 				margin: 0 15px 0 0 !important;
	// 			}
	// 			&:nth-child(2) .inner {
	// 				margin: 0 0 0 15px !important;
	// 			}
	// 			@include small {
	// 				&:nth-child(1) .inner,
	// 				&:nth-child(2) .inner {
	// 					margin: 0 !important;
	// 				}
	// 			}
	// 		}
	// 	}
	// 	@include medium {
	// 		.shelf-item.event {
	// 			width: 50% !important;
	// 			.inner {
	// 				width: calc(100% - 15px) !important;
	// 			}
	// 			&:nth-child(1) .inner {
	// 				margin: 0 15px 0 0 !important;
	// 			}
	// 			&:nth-child(2) .inner {
	// 				margin: 0 0 0 15px !important;
	// 			}
	// 		}
	// 		&.cols_3 {
	// 			.shelf-item:nth-child(1), .shelf-item:nth-child(2) {
	// 				padding-bottom: 60px;
	// 				@include small {
	// 					padding-bottom: 45px;
	// 				}
	// 			}
	// 			.shelf-item:nth-child(2n+1):nth-last-child(-n+2):last-child {
	// 				width: 50% !important;
	// 				.inner {
	// 					margin: 0 !important;
	// 				}
	// 			}
	// 			.shelf-item:last-child {
	// 				@include small {
	// 					padding-bottom: 25px;
	// 				}
	// 			}
	// 		}
			// &.cols_3 {
			// 	.shelf-item:nth-child(1), .shelf-item:nth-child(2) {
			// 		padding-bottom: 60px;
			// 	}
			// 	.shelf-item:nth-child(2n+1):nth-last-child(-n+2):last-child {
			// 		width: 50% !important;
			// 		.inner {
			// 			margin: 0 !important;
			// 		}
			// 	}
			// }
	// 	}
	// 	@include small {
	// 		.shelf-item.event:nth-child(n),
	// 		.shelf-item.event:nth-child(2n+1):nth-last-child(-n+2):last-child {
	// 			width: 100% !important;
	// 			.inner {
	// 				width: 100% !important;
	// 				margin: 0 0 25px 0 !important;
	// 			}
	// 		}
	// 	}
	// }

	.image_slider {
		width: 100%;
	}
	.introduction {
		.flex-wrapper {
			display: flex;
			flex-wrap: wrap;
			gap: 30px;
			.cols_2 {
				width: calc(50% - 15px);
			}
		}
		.video {
			iframe {
				overflow: hidden;
				max-width: 100%;
			}
		}
		.text {
			@include large-fs;
			@include small {
				margin-top: 4px;
			}
			&.cols_2 {
				@include medium-fs;
			}
		}
	}
	.residency_program {
		h3.title {
			margin-bottom: 10px;
			@include small {
				margin-bottom: 4px;
			}
		}
		.text {
			@include large-fs;
		}
	}

	.social.module {
		margin-bottom: 0 !important;
		.twitter {

		}
	}
	.links.module {
		width: 100%;
		height: 70px;
		padding: 10px 0;
		margin: 0px;
		border-top: 0;
		display: flex;
		.link {
			width: calc(50% - 5px);
			height: 100%;
			float: left;
			display: table;
			margin: auto;
			a {
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				h3 {
					padding-left: 5px;
					display: table;
					margin: auto;
					.swap {
						width: 24px;
						height: 24px;
						margin-right: 5px;
						float: left;
						.icon {
							background-position: center;
							background-repeat: no-repeat;
						    background-size: contain;
						}
					}
					@include medium {
						.swap {
							width: 18px;
							height: 18px;
						}
					}
				}
				&:hover .swap {
					.default.icon {
						opacity: 0;
					}
					.hover.icon {
						opacity: 1;
					}
				}
			}
			&.facebook .swap {
				.default.icon {
					background-image: url(../images/facebook-orange.svg);
				}
				.hover.icon {
					background-image: url(../images/facebook-black.svg);
				}
			}
			&.instagram .swap {
				.default.icon {
					background-image: url(../images/instagram-orange.svg);
				}
				.hover.icon {
					background-image: url(../images/instagram-black.svg);
				}
			}
			&.vimeo .swap {
				.default.icon {
					background-image: url(../images/vimeo-orange.svg);
				}
				.hover.icon {
					background-image: url(../images/vimeo-black.svg);
				}
			}
			&.twitter .swap {
				.default.icon {
					background-image: url(../images/twitter-orange.svg);
				}
				.hover.icon {
					background-image: url(../images/twitter-black.svg);
				}
			}
		}
	}
}
