.home {
	h2.head {
		color: $black;
		margin-bottom: 48px;
	}
	h3.title {
		color: $orange;
	}
	.events.upcoming {
		width: 100%;
		display: table;
		padding-top: 10px !important;
		.shelf-item.event {
			width: calc('100% / 3') !important;
			float: left;
			margin: 0 !important;
			padding: 0;
			border: 0;
			.inner {
				h2.title {
					padding: 3px 0;
				}
				h3 {
					text-align: center;
				}
				h4 {
					display: table;
					padding: 3px 0 0 0;
					text-align: left;
				}
				.thumb {
					margin-top: 10px;
					width: 100%;
					img {
						width: 100%;
					}
				}
				a {
					display: table;
				}
			}
			&:nth-child(2) {
				margin: 0 30px;
			}
			@include xsmall {
                .inner {
                    margin: auto !important;
                }
            }
		}
		&.cols_1 {
			.event {
				width: 100%;
				.inner {
					max-width: 250px;
					margin: auto;
				}
			}
		}
		&.cols_2 {
			.event {
				width: 50%;
				.inner {
					width: calc(100% - 10px);
				}
				&:nth-child(1) .inner {
					margin: 0 10px 0 0;
				}
				&:nth-child(2) .inner {
					margin: 0 0 0 10px;
				}
			}
		}	
	}

	.image_slider {
		width: 100%;
	}
	.about {
		.text {
			@include large-fs;
		}
	}
	.residency_program {
		h3.title {
			margin-bottom: 10px;
		}
		.text {
			@include large-fs;
		}
	}

	.social {
		padding-bottom: 0 !important;
		margin-bottom: 0 !important;
		.twitter {
			.tweets {
				 width: 100%;
				 clear: both;
			 	.tweet {
					@include width('100% / 3 - 10px');
					float: left;
					&:nth-child(2) {
						margin: 0 15px;
					}
					@include medium {
						width: 100%;
						max-width: 600px;
						margin: auto !important;
						float: none;
					}
				}
			}
		}
		.links {
			width: 100%;
			height: 70px;
			padding: 10px 0;
			margin-top: 60px;
			display: table;
			@extend .border-top;
			.link {
				@include width('50% - 5px');
				height: 100%;
				float: left;
				display: table;
				margin: auto;
				a {
					display: table-cell;
					vertical-align: middle;
					text-align: center;
					h3 {
						padding-left: 20px;
						display: table;
						margin: auto;
						.swap {
							width: 18px;
							height: 18px;
							margin-right: 5px;
							float: left;
							.icon {
								background-position: center;
								background-repeat: no-repeat;
							    background-size: contain;
							}
						}
					}
					&:hover .swap {
						.default.icon {
							opacity: 0;
						}
						.hover.icon {
							opacity: 1;
						}
					}
				}
				&.facebook .swap {
					.default.icon {
						background-image: url(../images/facebook-orange.svg);
					}
					.hover.icon {
						background-image: url(../images/facebook-black.svg);	
					}
				}
				&.instagram .swap {
					.default.icon {
						background-image: url(../images/instagram-orange.svg);
					}
					.hover.icon {
						background-image: url(../images/instagram-black.svg);	
					}
				}
			}
		}
	}
	.module.newsletter {
		padding: 0 !important;
	}
}