section.journal {
	.content {
		.journal {
		    padding-bottom: 50px;
		    position: relative;
		    overflow: hidden;
		    clear: both;
		    .journal-post {
		    	margin-bottom: 30px;
		    	padding-bottom: 30px;
		    	a {
		    		display: table;
		    		&.image {
		    			margin: auto;
		    		}
		    	}
		    	h2.name {
		    		display: table;
		    		margin-bottom: 4px;
		    	}
			    header {
			    	margin-bottom: 10px;
			    }
			    .image {
			    	margin-bottom: 10px;
			    	img {
			    		max-width: 100%;
			    		display: table;
			    		margin: auto;
			    	}
			    }
			    .tags {
			    	margin-top: 5px;
			    	a {
			    		display: inline-table;
			    	}
			    }
			}
			.journal-post, .sizer {
				width: calc(33.333% - 15px);
				@include large {
					width: calc(50% - 10px);
				}
				@include medium {
					width: 100%;
				}
			}
			.sizer {

			}
			.size {
				display: none;
			}
		 	.load-more {
		 		position: absolute;
		 		bottom: 0;
		 	}
		}
		.filter .select {
			cursor: default;
		}
	}
}