section.journal {
	.content {
		.bar {
			transition: opacity 300ms ease-in-out;
			&.hide {
				opacity: 0;
				.link:hover {
					cursor: default;
				}
			}
			.select {
				margin: 0;
				display: inline-block;
				float: none;
				vertical-align: bottom;
				.swap {
					margin-top: 0;
				}
			}
		}
		.journal {
	    position: relative;
	    overflow: hidden;
	    clear: both;
	    width: calc(100% - 40px);
	    margin: 0 20px;
	    .journal-post {
	    	margin-bottom: 30px;
	    	padding-bottom: 30px;
				.title-wrapper {
					.tags {
						padding-left: 20px;
					}
					display: flex;
					align-items: start;
				}
	    	h2.name {
	    		display: table;
	    		margin-bottom: 4px;
					margin-top: 0;
					@include subtitle-fs;
					@include xmedium {
						@include medium-fs;
					}
					@include medium {
						@include subtitle-fs;
					}
	    	}
				h3.author, .excerpt p, .excerpt a {
					@include xmedium {
						@include small-fs;
					}
				}
		    header {
		    	margin-bottom: 10px;
		    }
		    a.image {
		    	display: table;
		    	margin: 0 auto 10px auto;
					background-color: gray;
		    	img {
		    		width: 100%;
		    		display: table;
		    		margin: auto;
		    	}
		    }
		    .tags {
		    	margin-top: 0;
		    	a {
		    		display: inline-table;
						@include small-fs;
		    	}
		    }
			}
			.size {
				display: none;
			}
		 	.load-more {
		 		position: absolute;
		 		bottom: 0;
		 	}
		}
	}
}