section.journal-post {
	.content {
		.tags {
			text-align: center;
			padding: 40px;
		}
		h2.title.head {
			padding: 0 40px 40px;
			width: auto;
		}
		.inner {
			width: 50%;
			display: block;
			margin: auto;
			@include medium {
				width: 75%;
			}
			.header {
				width: 100%;
				margin-bottom: 40px;
				h3.title {
					padding-bottom: 0;
					margin-top: 0;
					margin-bottom: 0;
				}
				h2.head {
					margin-bottom: 20px;
				}
				.image {
					width: 100%;
					display: block;
					margin-bottom: 40px;
					img {
						margin-bottom: 0;
					}
				}
			}
			.text {
				.wp-caption {
					max-width: 100%;
					width: auto !important;
					display: table;
					margin: 20px auto;
					.wp-caption-text {
						display: table;
						margin: 10px auto 0 auto;
					}
				}
			}

			img {
				max-width: 100%;
				width: auto !important;
				height: auto;
				display: table;
				margin: 20px auto;
			}
		}
	}
}