section.programs {
	.program-links {
		margin-top: 30px;
	}
	.images {
		margin-top: 50px;	
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.image {
			width: calc(50% - 10px);
			float: left;
			img {
				width: 100%;
			}
            @include small {
            	&:first-child {
            		margin-bottom: 20px;
            	}
                width: 100%;
            }
		}
		.caption {
			margin-top: 10px;
			@include small-fs;
			text-align: center;
		}
	}
	.program {
		margin-top: 30px;
		h3.title {
			padding: 30px 0 20px 0;
		}
		.description {
			@include medium-fs;
		}
		.apply {
			margin: 20px 0;
			display: table;
		}
		.deadline-notes {
			@include small-fs;
		}
		.columns {
			width: 100%;
			margin: 50px 0 0 0;
			display: flex;
    		justify-content: space-between;
    		flex-wrap: wrap;
			.column {
				width: calc(25% - 15px);
		        float: left;
		        padding-bottom: 50px;
		        .inner {
		        	.background {
		        		width: 100%;
						display: table;
		        	}
					.image {
						background-color: $orange;
						img {
							width: 100%;
							display: table;
							-webkit-filter: grayscale(100%);
							-moz-filter: grayscale(100%);
							-ms-filter: grayscale(100%);
							-o-filter: grayscale(100%);
							filter: grayscale(100%);
							mix-blend-mode: screen;
						}
					}
					h3.title {
						width: 100%;
						text-transform: uppercase;
						padding: 20px 0;
						text-align: center;
					}
					.description  {

					}
					.links {
						padding: 20px 0;
						a {
							@include medium-fs;
							display: block;
							margin-bottom: 5px;
						}
					}
				}
			  	@include large {
			  		width: calc(50% - 10px);
	            }
	            @include small {
	                width: 100%;
	            }
			}
		}
	}
}