section.residents {
	.content {
		h4.title {
			margin-bottom: 20px;
		}
		.top {
			display: -webkit-box;
		    display: -webkit-flex;
		    display: -ms-flexbox;
		    display: flex;
		    .filter {
		    	width: 70%;
		    	float: left;
		    }
		    .right.alt {
		    	width: 30%;
		    	float: left;
		    	white-space: nowrap;
		    	a {
		    		float: right;
		    	}
		    	&.past-residents {
		    		a {
		    			color: $black !important;
		    			&:hover {
		    				color: $orange !important;
		    			}
		    		}
		    	}
		    	&.current-residents {
		    		a {
		    			color: $orange !important;
		    			&:hover {
		    				color: $black !important;
		    			}
		    		}
		    	}
		    }
		}
		.residents {
			margin-top: 50px;
			.resident {
				.details {
					display: flex;
					.left {
						width: 70%;
					}
		            .right {
		            	@include width('30% - 5px');
		            	display: block;
		            	padding-left: 5px;
		            	text-align: right;
		            	.value {
		            		float: right;
		            		&.studio-number {
		            			white-space: nowrap;
		            		}
		            		display: block;
		            	}
		            }
				}
			}
		}
		.residents.list {
			.resident {
				.wrap.name {
					width: 40%;
				}
				.details {
					width: 60%;
					display: flex;
					.left {
						width: 100%;
						display: flex;
						.country {
							width: 30%;
							padding-left: 15px;
						}
						.sponsors {
							width: 60%;
							padding-left: 15px;
						}
						.studio-number, .year {
							width: 10%;
						}
					}
					.right {
						align-self: center;
					}
				}
				
			}
		}
	}
}