section.single.resident {
	header.sub {
		width: calc(100% - 40px);
		padding: 0 20px;
		display: table;
	    display: flex;
		.left, .center, .right {
			float: left;
		    flex-wrap: wrap;
		}
		.left {
			width: 20%;
			text-align: left;
		}
		.center {
			width: 60%;
			text-align: center;
		}
		.right {
			width: 20%;
			text-align: right;
		}
	}
	h1.title {
		width: 100%;
		margin: 50px 0;
		color: $orange;
		@include large-fs;
		text-align: center;
	}
	.info {
		width: calc(66.666% - 35px);
		padding: 0 15px 30px 20px;
		float: left;
		.bio {
			word-wrap: break-word;
			@include medium-fs;
			a  {
				text-decoration: underline;
			}
			.website {
				display: table;
				margin: 30px 0 0 0;
				text-decoration: none;
			}
			div, p, span {
				font-size: inherit !important;
				font-family: inherit !important;
				line-height: inherit !important;
			}
		}
		.list {
			padding-top: 20px;
			border-top: 10px solid $orange;
			margin-top: 52px;
			h3.title {
				color: $orange;
			}
			&.residencies {
				.residency {
					margin-bottom: 5px;
				}
			}
			&.events {
				a.event {
					@include medium-fs;
					display: table;
					margin-bottom: 40px;
					div {
						margin-bottom: 5px;
					}
				}
			}
		}
	}
	.gallery .caption {
		@include small-fs;
	}
	.gallery {
		width: calc(33.333% - 35px);
		padding: 0 20px 0 15px;
		float: left;
		.images {
			.piece {
				margin-bottom: 20px;
				.image {
					width: 100%;				
					img {
						width: 100%;
						height: auto;
					}
				}
				.description {
					text-align: left;
					margin: 5px 0 0 0;
					@include small-fs;
					color: $orange;
				}
			}
		}
	}
	@include large {
		.info, .gallery {
			width: calc(50% - 35px);
		}
	}
	@include medium {
		.info, .gallery {
			width: calc(100% - 40px);
			padding: 0 20px;
		}
		.gallery:not(.full) {
			border-top: 10px solid $orange;
			margin-top: 60px;
			padding: 60px 20px;
			.images {
				margin: 0;
			}
		}
	}
	.relations {
		border-bottom: 0;
		h3.title {
			color: $orange;
			text-align: center;
		}
		.related {
			float: left;
			border-bottom: 0;
			h3.name {
				display: table;
    			margin: 0 auto 10px auto;
			}
			.image {
				width: 100%;
				img {
					width: 100%;
					height: 100%;
					min-height: 100px;
					vertical-align: bottom;
				}
			}
			.details {
				display: flex;
				@include small-fs;
				.sponsor, .year {
					display: inline-flex;
				}
				.sponsor {
					width: 100%;
				}
				.year {
					text-align: right;
					padding-left: 7px;
				}
			}
		}
	}
	&.one_col {
		.info {
			width: 100%;
			padding: 0;
		}
	}
	.center {
		z-index: 0;
	}
}