section#search {
	.content {
		form.searchform {
			width: 100%;
			display: table;
			margin: 50px 0;
			input.s {
				width: 100%;
				padding: 0 0 10px 0;
				margin: 0;
			    color: $orange;
			    @include large-fs;
			    border: 0; 
			    border-bottom: 10px solid $orange;
			    outline: none;
			    text-align: center;
			    float: left;
			}
		}
		.list {
			.shelf-item {
				@include large-fs;
				padding: 0;
				a {
					width: 100%;
					padding: 20px 0;
					img {
						max-width: 100px;
						max-height: 100px;
						margin-right: 20px;
					}
					.title {
						width: calc(80% - 20px);
						margin-right: 20px;
					}
					.post-type {
						width: calc(20% - 20px);
						justify-content: flex-end;
						text-transform: capitalize;
					}
				}
			}
		}
		.no {
			width: 100%;
			margin-top: 20px;
			text-align: center;
		}
	}
}