section .content .events.module {
  display: block;
  padding-bottom: 20px;
  .swiper.image_slider {
    height: auto;
    width: calc(100% + 60px);
    margin-left: -30px;
    margin-top: -60px;
    display: block;
    .swiper-wrapper {
      .inner {
        padding: 0 60px 0;
      }
      .event.item {
        h3.name {
          padding-bottom: 20px;
          margin-bottom: 5px;
        }
        .image {
          display: block;
        }
        img {
          max-height: 50svh;
          margin: 0 auto;
          display: block;
        }
        .value {
          text-align: center;
          @include small-fs;
        }
      }
    }
  }
  .wrap {
    &:hover {
      .link {
        color: $black;
      }
    }
  }
}