section.sponsors, section.contributors {
	.shelves {
		.value {
			margin-right: 5px;
			&.name {
				width: calc(50% - 5px) !important;
			}
			&.country {
				width: calc(25% - 5px) !important;
			}
			&.website {
				width: calc(25% - 5px) !important;
				justify-content: flex-end;
				a {
					float: right;
					text-align: right;
				}
			}
		}
	}
}