section.sponsors, section.contributors, section.supporters {
	.shelves {
		.value {
			margin-right: 5px;
			&.name {
				width: calc(50% - 5px) !important;
			}
			&.country, &.middle {
				width: calc(25% - 5px) !important;
			}
			&.website {
				width: calc(25% - 5px) !important;
				justify-content: flex-end;
				flex: 1;
				a {
					float: right;
					text-align: right;
				}
			}
		}
	}
	.module {
		&.images {
			border: 0;
		}
	}
}