section#visit {
	.module {
		&.info {
			h1 {
				text-align: center;
			}
			padding-bottom: 30px;
		}
		&.map {
			height: 500px;
			.inner {
				height: 500px;
			}
			.contact {
				width: 100%;
				display: table;
				margin-top: 60px;
				h1 {
					width: calc(100%/3);
					float: left;
					text-align: center;
				}
			}
		}
		&.directions {
			margin-bottom: 0 !important;
			.steps {
				width: 100%;
				max-width: 600px;
				display: table;
				margin: auto;
				.step {
					@include medium-fs;
					list-style-type:decimal;
					padding-left: 20px;
					margin: 0 0 20px 30px;
				}
			}
			.footnote {
				width: 100%;
				max-width: 600px;
				display: table;
				margin: 10px auto 0 auto;
				@include small-fs;
			}
		}
	}
}