/* line 1, ../sass/extends.scss */
.vertical-align {
  display: table-cell;
  vertical-align: middle; }

/* line 5, ../sass/extends.scss */
.horizontal-align {
  display: table;
  margin: auto; }

/* line 9, ../sass/extends.scss */
.text-align {
  width: 100%;
  text-align: center; }

/* line 13, ../sass/extends.scss */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* line 21, ../sass/extends.scss */
.yesselect {
  -webkit-touch-callout: auto !important;
  -webkit-user-select: auto !important;
  -khtml-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important; }

/* line 29, ../sass/extends.scss */
.bullet {
  font-size: 25px;
  padding: 1px 0 1px 25px;
  background-image: url(../images/bullet-orange.svg);
  background-position: left center;
  background-size: 15px;
  background-repeat: no-repeat; }
