section.apply {
	.program-links {
		margin-top: 30px;
	}
	.program {
		display: table;
		margin-top: 30px;
		padding-top: 20px;
		position: relative;
		.title {
			width: 140px;
			position: absolute;
			top: 20px;
			left: 0;
			@include small {
				width: 100% !important;
				text-align: center;
				position: static;
			}
		}
		.links {
			width: 140px;
			position: absolute;
			top: 20px;
			right: 0;
			.bullet {
				@include xsmall-fs;
				background-size: 11px;
				padding-left: 15px;
				display: inline;
				a {
					margin-bottom: 5px;
				}
			}
			@include small {
				width: 100% !important;
				position: static;
				margin: 20px 0;
				.bullet {
					width: 100%;
					display: block;
				}
			}
		}
		.inner {
			@include width('100% - 300px');
			margin: 0 150px;
			@include small {
				width: 100%;
				margin: 0;
			}
			.intro {
				p {
					text-indent: 0;
					@include medium-fs;
				}
				h3 {
					width: 100%;
				    text-transform: uppercase;
				    padding: 20px 0;
				    text-align: center;
				}
			}
			h5 {
				margin-bottom: 20px;
			}
			.applications {
				width: 100%;
				.application.row {
					width: 100%;
					display: table;
					padding: 0 0 20px 0;
					@include xsmall-fs;
					color: $orange;
					.cell {
						float: left;
						&.date {
							width: 25%;
							@include small {
								width: 50%;
							}
						}
						&.country {
							width: 25%;
							@include small {
								width: 50%;
							}
						}
						&.brief {
							width: 50%;
							@include small {
								margin-top: 10px;
								width: 100%;
							}
							.sponsor {
								a {

								}
							}
						}
					}
				}
			}
		}
		.select {
			color: $orange;
			cursor: pointer;
			display: inline;
		}
		.filter {
			@include medium-fs;
			.select {
				@include medium-fs;
				padding-right: 40px;
			    margin-right: 20px;
			    background-size: 29px 58px;
			}
		}
		.filter-list {
			display: none;
			margin-top: 20px;
			@include small-fs;
	  		&.show {
	  			display: block;
	  		}
			.option {
				float: left;
				margin: 0 10px 10px 0;
			}
		}
	}
}