.home {
	h2.head {
		color: $black;
		text-align: center;
		a {
			display: table;
			margin: auto;
		}
	}
	.module {
		padding: 30px 0;
		// margin-bottom: 30px;
		border-bottom: 10px solid $orange;
		h2.title {
			padding: 0;
			margin-bottom: 20px;
		}
		h3.title {
			padding: 0;
			margin-bottom: 20px;
			color: $orange;
		}
	}
	.events.upcoming {
		width: 100%;
		display: table;
		.event {
			@include width('100% / 3 - 20px');
			float: left;
			margin: 0;
			padding: 0;
			border: 0;
			.inner {
				width: 100%;
				margin: 0;
				h3 {
					text-align: center;
					&.link {}
				}
				h4 {
					display: table;
					padding: 3px 0 0 0;
					text-align: left;
				}
				.thumb {
					margin-top: 10px;
					width: 100%;
					img {
						width: 100%;
					}
				}
				a {
					width: 100%;
					display: table;
					color: $black;
					&:hover {
						color: $orange !important;
					}
				}
			}
			&:nth-child(2) {
				margin: 0 30px;
			}
			// @media (max-width: 900px) {
			// 	@include width('50% - 20px');
			// 	&:nth-child(odd) {
			// 		margin: 0 20px 0 0 !important;
			// 	}
			// 	&:nth-child(even) {
			// 		margin: 0 0 0 20px !important;
			// 	}
		}
		&.cols_1 {
			.event {
				width: 100%;
				.inner {
					max-width: 250px;
					margin: auto;
				}
			}
		}
		&.cols_2 {
			.event {
				@include width('50% - 15px');
				.inner {
					margin: auto;
				}
				&:first-child {
					margin: 0 15px 0 0;
				}
				&:last-child {
					margin: 0 0 0 15px;
				}
			}
		}	
	}
	.mission {
		p {
			margin: 20px 0 0 0;
		}
	}

	.image_slider {
		width: 100%;
		height: 500px;
	}

	.residency_program {
		h3.title {
			margin-bottom: 10px;
		}
	}

	.twitter {
		.tweets {
			 width: 100%;
			 clear: both;
		 	.tweet {
				@include width('100% / 3 - 10px');
				float: left;
				&:nth-child(2) {
					margin: 0 15px;
				}
				@include small {
					width: 100%;
					max-width: 600px;
					margin: auto !important;
					float: none;
				}
			}
		}
	}

	.social {
		width: 100%;
		height: 70px;
		padding: 10px 0;
		display: table;
		.link {
			@include width('50% - 5px');
			height: 100%;
			float: left;
			display: table;
			margin: auto;
			a {
				display: table-cell;
				vertical-align: middle;
				text-align: center;
			}
		}
	}

	h3.newsletter {
		margin: 20px;
	}
}