section.programs {
	.program-links {
		margin-top: 30px;
	}
	.images {
		margin-top: 50px;	
		@extend .wrap-parent;
		.image {
			@extend .wrap-child;
			@include width('50% - 15px');
			float: left;
			&:first-child {
				margin-right: 15px;
			}
			&:last-child {
				margin-left: 15px;
			}
			img {
				width: 100%;
			}
		}
		.caption {
			margin-top: 10px;
			@include small-fs;
			text-align: center;
		}
	}
	.program {
		margin-top: 30px;
		h3.title {
			padding: 20px 0;
		}
		.description {
			@include medium-fs;
		}
		.apply {
			margin: 20px 0;
			display: table;
		}
		.deadline-notes {
			@include small-fs;
		}
		.columns {
			width: 100%;
			margin: 50px 0;
			@extend .wrap-parent;
			.column {
		        @extend .wrap-child;
		        float: left;
		        .inner {
		        	.background {
		        		width: 100%;
						display: table;
		        	}
					.image {
						background-color: $orange;
						img {
							width: 100%;
							display: table;
							-webkit-filter: grayscale(100%);
							-moz-filter: grayscale(100%);
							-ms-filter: grayscale(100%);
							-o-filter: grayscale(100%);
							filter: grayscale(100%);
							mix-blend-mode: screen;
						}
					}
					h3.title {
						width: 100%;
						text-transform: uppercase;
						padding: 20px 0;
						text-align: center;
					}
					.description  {

					}
					.links {
						padding: 20px 0;
						a {
							@include medium-fs;
							display: block;
							margin-bottom: 5px;
						}
					}
				}
				@include width('25% - 15px');
				&:first-child {
					margin: 0 15px 0 0;
				}
				&:nth-child(2) {
					margin: 0 10px 0 5px;
				}
				&:nth-child(3) {
					margin: 0 5px 0 10px;
				}
				&:last-child {
					margin: 0 0 0 15px;
				}
			  	@include large {
			  		@include width('50% - 20px');
	                &:nth-child(odd) {
		                margin: 0 20px 0 0;
		            }
		            &:nth-child(even) {
		                margin: 0 0 0 20px;
		            }
	            }
	            @include xsmall {
	                width: 100%;
	                .inner {
	                    width: 100%;
	                    margin: 0 !important;
	                }
	            }
			}
		}
	}
}