section.sponsors {
	.sponsors.shelves {
		.value {
			margin-right: 5px;
			&.name {
				@include width('50% - 5px');
			}
			&.country {
				@include width('25% - 5px');
			}
			&.website {
				@include width('25% - 5px');
				justify-content: flex-end;
				a {
					float: right;
					text-align: right;
				}
			}
		}
	}
}