.filter {
    width: calc(100% - 40px);
    padding: 0 20px;
    margin-bottom: 40px;
    position: relative;
    @extend .noselect;
    .select {
        font-size: $small-fs;
        line-height: $small-fs;
        display: table;
        color: $orange;
        padding: 0;
        margin: 0 20px 5px 0;
        cursor: pointer;
        &:last-child {
            margin-right: 0;
        }
        &.view.toggle {
            .grid{ display: none; }
            &.grid {
                span.grid{ display: block; }
                span.list{ display: none; }
                .icon { background-position: right bottom; }
            }
            .swap {
                margin-top: 1px;
            }
            .icon {
                &.default {
                    background-image: url(../images/view-toggle-orange.svg);
                }
                &.hover {
                    background-image: url(../images/view-toggle-black.svg);
                }
            }
        }
        &.dropdown {
            .icon {
                &.default {
                    background-image: url(../images/dropdown-orange.svg);
                }
                &.hover {
                    background-image: url(../images/dropdown-black.svg);
                }
            }
            &.dropped {
                .icon {
                    background-position: right bottom;
                }
            }
        }
        &.tag {
            .swap .icon {
                background-size: 16px;
                &.default {
                    background-image: url(../images/close-orange.svg);
                }
                &.hover {
                    background-image: url(../images/close-black.svg);
                }
            }
        }
        &:hover {
            .icon.default {
                opacity: 0;
            }
            .icon.hover {
                opacity: 1;
            }
        }
        span {
            float: left;
        }
        .swap {
            width: 16px;
            height: 16px;
            display: block;
            float: left;
            margin: 2px 0 0 5px;
            .icon {
                background-size: 16px 32px;
                background-position: right top;
                background-repeat: no-repeat;
            }
        }
    }
    .bar {
        width: 100%;
        display: table;
        margin-top: -20px;
        margin-bottom: 0px;
        position: relative;
        .select {
            float: left;
        }
        .loading {
            position: absolute;
            top: calc(100% + 10px);
            left: 0px;
            color: $orange;
            opacity: 0;
            transition: opacity 300ms ease-in-out;
            &.show {
                opacity: 1;
            }
            @include small-fs;
        }
    }
}

.filter-lists {
    display: block;
    position: relative;
}
.filter-list {
    height: 0px;
    display: block;
    overflow: hidden;
    transition: height 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
    position: relative;
    .options {
        padding-top: 20px;
        column-width: 200px;
        column-gap: 10px;
        .option {
            width: 200px;
            display: inline-flex;
            margin: 0 0 2px 0;
            float: left;
            @include small-fs;
            a {
                padding-right: $small-fs;
                position: relative;
                .swap {
                    width: $small-fs;
                    height: $small-fs;
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: inline-block;
                    vertical-align: middle;
                    .icon {
                        background-position: center;
                        background-size: 80%;
                        margin-left: 5px;
                        &.default {
                            background-image: url(../images/close-orange.svg);
                        }
                        &.hover {
                            background-image: url(../images/close-black.svg);
                        }
                    }
                }
                &:hover {
                    .icon.default {
                        opacity: 0;
                    }
                    .icon.hover {
                        opacity: 1;
                    }
                }
            }
            &:not(.selected) .swap .icon {
                opacity: 0 !important;
            }
            &.hide {
                display: none;
            }
        }
        @include medium {
            column-width: 150px;
            column-gap: 5px;
            .option {
                width: 150px;
            }
        }
    }
    &.year {
        .options {
            column-width: 100px;
            .option {
                width: 100px;
            }
        }
    }
    &.program {
        .options {
            column-width: 250px;
            .option {
                width: 250px;
            }
        }
    }
    &::before {
        content:'';
        display:block;
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        pointer-events: none;
        z-index: 100;
        transition: box-shadow 300ms 0ms cubic-bezier(0.645, 0.045, 0.355, 1);
        box-shadow: inset 0px -100px 45px -50px $white;
    }
    &.show {
        &::before {
            transition: box-shadow 500ms 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
            box-shadow: inset 0px 0px 45px -50px $white;
        }
    }
}
