footer {
	width: 100%;
	position: relative;
	margin-top: 30px;
	padding-top: 30px;
	background: $orange;
	color: $white;
	a {
		color: $white;
	}
	.wrapper {	
	    width: calc(100% - 290px);
	    height: calc(100% - 260px);
	    margin-left: 120px;
	    overflow-y: hidden;
	    padding: 0 15px;
	    border-width: 0 10px;
	    border-color: #fff;
	    border-style: solid;
	    overflow: hidden;
		.inner {
			padding: 0;
			margin-bottom: 20px;
		    nav {
		    	display: -webkit-flex;
		    	display: -ms-flexbox;
			    display: flex;
			    -webkit-flex-wrap: wrap;
			    -ms-flex-wrap: wrap;
			    flex-wrap: wrap;
				.cell {
					width: calc( (100%/6) - 30px);
					margin: 0 15px 15px 15px;
					display: -webkit-flex;
				    display: -ms-flexbox;
				    display: -webkit-box;
				    display: flex;
					float: left;
					.cell-inner {
						width: 100%;
						display: block;
						a {
							display: table;
						}
						.title {
							letter-spacing: 1px;
							text-align: left;
							text-transform: uppercase;
						}
						.sub-menu {
							width: 100%;
							.child-item {
								margin: 2px 0;
							}
						}
						input[type="text"] {
							width: calc(100% - 12px);
							padding-left: 10px;
							margin-top: 5px;
							outline: none;
							border: solid $white;
							border-width: 0 0 0 2px;
							background-color: transparent;
							color: $white;
							@include small-fs;
							@include placeholder {
								color: $white;
							}
						}
					}
					&:nth-child(6) {
						clear: both;
					}
					@include large {
						width: calc( (100%/4) - 30px);
						&:nth-child(5) {
							clear: both;
						}
					}
					@include medium {
						width: calc( (100%/3) - 30px);
						&:nth-child(3) {
							clear: both;
						}
					}
					@include xsmall {
						width: calc( 50% - 30px);
						&:nth-child(2) {
							clear: both;
						}
					}
				}
			}
		}
		.bottom {
			width: 100%;
			height: 100px;
			border-top: 10px solid $white;
			transform: translateY(160px);
			transition: transform 300ms ease-out;
			.half {
				width: 50%;
				height: 100%;
				float: left;
				display: table;
				h3 {
					width: 100%;
					display: table-cell;
					vertical-align: middle;
					a {
						display: table;
						margin: auto;
						text-align: center;
					}
				}
			}
		}
		@include small {
			width: 100%;
			margin: 0;
			border-width: 0;
		}
	}
}
&.show-footer-bottom {
	footer .wrapper .bottom {
		transform: translateY(0px);
	}
}