.shelves {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: $orange;
    transition: opacity 400ms cubic-bezier(0.77, 0, 0.175, 1);
    &.grid {
        .shelf-item {
            @extend .noselect;
            width: 33.333%;
            float: left;
            padding-bottom: 60px;
            margin-bottom: 60px;
            transition: color 150ms ease-in-out, opacity 300ms ease-in-out;;
            * {
                transition: color 150ms ease-in-out;
            }
            .inner {
                width: calc(100% - 33.333px);
                a.wrap {
                    width: 100%;
                    display: table;
                    &:hover * {
                        color: $black;
                    }
                }
                h3 {
                    text-align: center;
                }
                h2 {
                    @extend .yesselect;
                    text-align: center;
                    margin-bottom: 10px;
                }
                .image {
                    width: 100%;
                    margin-bottom: 15px;
                    img {
                        width: 100%;
                        height: 100%;
                        // min-height: 100px;
                        vertical-align: bottom;
                    }
                }
                span {
                    margin-bottom: 5px;
                    display: block;
                }
                .value {
                    margin-bottom: 3px;
                    font-size: $small-fs;
                    line-height: calc(#{$small-lh} - 3px);
                }
            }
            &:nth-child(3n+1) .inner {
                margin: 0 0 0 20px;
            }
            &:nth-child(3n+2) .inner {
                margin: 0 16.666px;
            }
            &:nth-child(3n+3) .inner {
                margin: 0 0 0 13.333px;
            }

            &.current, &.upcoming {
                color: $orange !important;
                .inner {
                    * {
                        color: $orange !important;
                    }
                    a:hover, .link:hover, .wrap:hover {
                        color: $black !important;
                        h2 {
                            color: $black !important;
                        }
                    }
                }
                &.hover {
                    color: $black !important;
                    * {
                        color: $black !important;
                    }
                }
            }
            &.past {
                color: $black !important;
                .inner {
                    * {
                        color: $black !important;
                    }
                    a:hover, .link:hover, .wrap:hover {
                        color: $orange !important;
                        h2 {
                            color: $orange !important;
                        }
                    }
                }
                &.hover {
                    color: $orange !important;
                    * {
                        color: $orange !important;
                    }
                }
            }
            &.no-image {
                display: flex;
                // align-items: center;
                * {
                    text-align: center;
                }
            }
            &.hover {
                color: $black;
                a, .link {
                    color: $black;
                }
            }
            @include medium {
                width: 50% !important;
                margin-left: 0 !important;
                margin-right: 0 !important;
                .inner {
                    width: calc(100% - 35px);
                }
                &:nth-child(odd) .inner {
                    margin: 0 0 0 20px;
                }
                &:nth-child(even) .inner {
                    margin: 0 0 0 15px !important;
                }
                &:nth-child(2n+1):nth-last-child(-n+2):last-child {
                    width: 100%;
                    margin-bottom: 0 !important;
                    .inner {
                        width: calc(50% - 15px);
                    }
                }
            }
            @include small {
                .inner {
                    width: calc(100% - 45px);
                }
                &:nth-child(odd) .inner {
                    margin: 0 0 0 30px;
                }
                &:nth-child(even) .inner {
                    margin: 0 0 0 15px;
                }
            }
            @include xsmall {
                width: 100% !important;
                .inner, &.item .inner {
                    width: calc(100% - 30px) !important;
                    margin: auto;
                    display: table;
                }
            }
            &.nolink:hover .inner {
                .link, a {
                    color: $orange !important;
                }
            }
            &.nolink .inner {
                .link:hover, a:hover {
                    color: $orange !important;
                }
            }
        }
    }
    &.list {
        .shelf-item {
            width: calc(100% - 60px);
            text-align: left;
            padding: 20px 30px;
            .inner {
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                h2 {
                    @include small-fs;
                }
                .image {display: none;}
                .value {
                    float:left;
                    text-align: left;
                    @include small-fs;
                    display: flex;
                }
            }
        }
        .load-more {
            margin-top: 60px;
        }
    }
    .shelf-item {
        &.past, &.past-residents {
            .inner {
                * {
                    color: $black;
                }
                a:hover, .link:hover, .wrap:hover {
                    color: $orange !important;
                    h2 {
                        color: $orange !important;
                    }
                }
            }
        }
    }
}
&.hide-shelves {
    .shelves {
        display: none;
    }
}
&.filtering {
    .filter-this {
        opacity: 0;
    }
}
.module, .module.shelves {
    .shelf-item.item {
        width: 33.333% !important;
        .inner {
            width: calc(100% - 20px) !important;
        }
        &:nth-child(3n+1) .inner {
            margin: 0 !important;
        }
        &:nth-child(3n+2) .inner {
            margin: 0 10px !important;
        }
        &:nth-child(3n+3) .inner {
            margin: 0 0 0 20px !important;
        }
        @include medium {
            &:nth-child(n),
            &:first-child,
            &:last-child {
                width: 100% !important;
                .inner {
                    width: 100% !important;
                    padding: 0 !important;
                    margin: 0 !important;
                }
            }
        }
    }

}

@media (min-width: #{$xmedium-width}) {
&:not(.home) {
    .shelves.grid .shelf-item.border-bottom {
            &:nth-child(3n+1):nth-last-child(-n+3) {
                margin-bottom: 0 !important;
                // border-bottom: 0 !important;
                & ~ .shelf-item {
                    margin-bottom: 0 !important;
                    // border-bottom: 0 !important;
                }
            }
            //three columns, last row, last item of one
            &:nth-child(3n+1):nth-last-child(-n+3):last-child {
                @include width('100%');
                .inner {
                    @include width('100%/3 - 20px');
                }
            }
            //three columns, last row, last item of two
            &:nth-child(3n+1):nth-last-child(-n+2) + .shelf-item {
                @include width('100% / 1.5');
                .inner {
                    @include width('50% - 20px');
                }
            }
        }
    }
}
