aside {
	width: $side_width;
	position: absolute;
	transition: border-color 150ms ease-in-out, opacity 800ms ease-in-out;
	.logo {
		width: $side_width - 10;
		height: $side_width - 20;
		position: absolute;
		transition: border-color 150ms ease-in-out, left 800ms ease-in-out;
		border-bottom: 10px solid;
		.icon {
		    background-size: 60px;
		    background-position: center;
		    background-repeat: no-repeat;
		}
	    &:hover {
			border-color: inherit !important;
		}
	}
	&.main {
		top: 0;	
		height: 100%;
		border-color: $orange;
		.logo {
			top: 0;
			.icon {
				background-color: $white;
				&.default {
					background-image: url(../images/logo-orange.svg);
				}
				&.hover {
					background-image: url(../images/logo-black.svg);
				}
			}
		}
		&.hover {
			border-color: $black;
			.logo {
				border-color: $black;
				.icon.default {
					opacity: 0 !important;
				}
				.icon.hover {
					opacity: 1 !important;
				}
			}
		}
	}
	&.left {
		left: 0;
		.logo {
			left: 0;
		}
	}
	&.right {
		right: 0;
		.logo {
			left: 10px;
		}
	}
	.move {
		width: auto;
		background: $white;
		height: 120px;
		position: absolute;
	    display: table;
		transform-origin: left top 0;
		text-align: center;
		.label {
			font-size: $medium-fs;
			line-height: $medium-lh;
		}
	}
	&.left .move {
		bottom: -120px;
    	left: 0px;
		transform: rotate(-90deg); 
	}
	&.right .move {
		top: 110px;
	    left: 120px;
		transform: rotate(90deg); 
	}
	&.footer {
		top: 30px;
		@include height('100% - 30px');
		border-color: $white;
		&.hover {
			border-color: $black;
		}
		.logo {
			bottom: 0;
			border-bottom: none;
			border-top: 10px solid $white;
			.icon {
				&.default {
					background-image: url(../images/logo-white.svg);
				}
				&.hover {
					background-image: url(../images/logo-black.svg);
				}
			}
		}
	}
	@include small {
		display: none;
	}
}
&:not(.center) {
	aside {
		opacity: 0;
	}
}
&.center {
	aside {
		opacity: 1;
	}
}
&.left {
	aside.right  .logo {
		left: 0;
	}
}
&.right {
	aside.left  .logo {
		left: 10px;
	}
}