.gallery {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    .cursor {
        width: 30px;
        height: 30px;
        position: fixed;
        transform: translate(-15px, -15px);
        background-image: url(../images/gallery-orange.svg);
        background-size: 30px;
        background-repeat: no-repeat;
        display: none;
        z-index: 10000;
        &[data-icon="zoom"] {
            background-position: 0 0px;
        }
        &[data-icon="close"] {
            background-position: 0 -30px;
        }
        &[data-icon="left"] {
            background-position: 0 -60px;
        }
        &[data-icon="right"] {
            background-position: 0 -90px;
        }
    }
    &:not(.full) {
        img {
            cursor: none !important;
        }
        .cursor {
            cursor: none !important;
            pointer-events: none;
        }
    }
}
.image_slider {
    height: 600px;
	display: block;
	position: relative;
    @include medium {
        // height: 300px;
    }
    @include small {
        // height: 200px;
    }
	.arrow {
		width: 30px;
		height: 30px;
		position: absolute;
		top: calc(50% - 15px);
		z-index: 20;
		cursor: pointer;
    @include xsmall {
      display: none;
    }
        .icon {
            background-size: 30px;
        }
		&.left {
			left: 20px;
            .icon {
                background-position: 0 -60px;
                &.default {
                    background-image: url(../images/gallery-orange.svg);
                }
                &.hover {
                    background-image: url(../images/gallery-black.svg);
                }
            }
		}
		&.right {
			right: 20px;
            .icon {
                background-position: 0 -90px;
    			&.default {
                    background-image: url(../images/gallery-orange.svg);
                }
                &.hover {
                    background-image: url(../images/gallery-black.svg);
                }
            }
		}
	}
	.slides {
		height: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
        margin: 0 !important;
		transition: left 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
		@extend .noselect;
		.slide {
			height: 100%;
			display: table;
			position: relative;
			float: left;
            opacity: 0;
            transition: opacity 500ms cubic-bezier(0.77, 0, 0.175, 1);
            &.show {
                opacity: 1;
            }
			.image {
				width: auto;
				width: 100%;
				img {
					width: auto;
					height: auto;
					display: table;
					margin: auto;
					cursor: pointer;
				}
                .captionWrap {
                    display: table;
                    margin: auto;
                    .caption {
                        max-width: calc(100% - 60px);
                        padding: 20px 20px 0 20px;
                        display: table;
                        margin: auto;
                    }
                }
			}
		}
	}
	&.full {
        width: 100% !important;
        min-width: 500px;
        height: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
        border: 0 !important;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        z-index: 1000;
        cursor: none !important;
        display: table;
        .arrow {
        	display: none;
        }
        .slides {
            height: calc(100% - 60px) !important;
            padding: 30px 0 !important;
            .slide {
                margin: 0 !important;
                .image {
                    max-width: calc(100% - 60px) !important;
                    vertical-align: middle;
                    display: table-cell;
                    img {
                        width: auto !important;
                    }
                }
            }
        }
    }
    &:not(.full) {
        .image {
            display: table-cell;
            vertical-align: middle;
            img {
                cursor: pointer;
                // max-height: 600px;
                @include medium {
                    // max-height: 300px;
                }
                @include xsmall {
                    max-height: 200px;
                    max-width: calc(100% - 60px;)
                }
            }
        }
    }
}

body.mobile {
    .gallery {
        .cursor {
            display: none !important;
        }
        &.full {
            .arrow {
                display: block;
            }
        }
    }
}
